<p>For Seltzer API documentation, check <%= link_to "here", swagger_root_path %></p>
<p>You can test the API with following credentials.</p>
<div class="container">
  <%= @application.as_json %>
</div>
